{% extends "layout_alt2.html" %}
<!-- TITLE -->
{% block title %}Addiction Services{% endblock %}

<!-- CONTENT -->
{% block content %}
  <h1>Addiction Services</h1>
  <p class="important">

<iframe width="560" height="315" src="https://www.youtube.com/embed/FIsdzuGqY-I" frameborder="0" allowfullscreen></iframe>

    <div class="col-lg-12 text-center">
    Addiction is defined as persistent use of a substance despite negative consequences. It is a complex disease, the course of which is influenced by the interaction of genetics and environmental factors. Addiction is a chronic and treatable disease.

All of the addiction treatment offered by Penn Behavioral Health is informed by the cutting edge research conducted in the Department of Psychiatry. Patients can elect to receive treatment through one of our excellent clinical programs or, if eligible, may receive treatment as a participant in a research trial at no cost.  Please see below for descriptions of our clinical and research treatment programs.
    </div>
    <br>
    <h2>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdjjQyTrvVFytUx2qHmmH3KItrwWN3FtZeoEv5ehQyUN1s4dA/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Fill out our survey</iframe>
    <p></p>
    <a href="http://www.med.upenn.edu/psychiatry/addiction.html" target="_blank"><font color = "white"> See what Penn has to offer</font></a>
    </h2>
{% endblock %}
