{% extends "layout_alt2.html" %}
<!-- TITLE -->
{% block title %}Mental Health Services{% endblock %}


<!-- CONTENT -->
{% block content %}
  <h1>Mental Health Services</h1>
  <p class="important">

<iframe width="560" height="315" src="https://www.youtube.com/embed/FIsdzuGqY-I" frameborder="0" allowfullscreen></iframe>

   <div class="col-lg-12 text-center">
    The Department of Psychiatry at the University of Pennsylvania treats psychiatric and behavioral health disorders range from potentially life-threatening disorders, such as schizophrenia, bipolar disorder and severe depression, as well as less debilitating but common conditions, such as anxiety and less severe mood disorders.
    </div>
    <br>
    <h2>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSd9BBCLuYmtCordJy2JUEf7fjiy0dOzrX_6-xWilMoXKqHafg/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Fill out our survey</iframe>
    <p></p>
    <a href="https://www.pennmedicine.org/for-patients-and-visitors/find-a-program-or-service/behavioral-health" target = "_blank"><font color = "white" >See what Penn has to offer</font></a>
    </h2>
{% endblock %}
