{% extends "layout_alt2.html" %}
<!-- TITLE -->
{% block title %}Diabetes / Weight Control{% endblock %}

<!-- CONTENT -->
{% block content %}
  <h1>Diabetes / Weight Control</h1>
  <p class="important">

<iframe width="560" height="315" src="https://www.youtube.com/embed/1a2Fsfa8e4I" frameborder="0" allowfullscreen></iframe>

    <div class="col-lg-12 text-center">
   We know that not all overweight people are the same. Weight problems may result from a variety of factors, including genetics, a slow metabolism, illness, eating or exercise habits, and emotional distress.

We also realize that many overweight persons suffer form serious medical conditions, such as diabetes, high blood pressure, high cholesterol, sleep apnea and joint problems. Thus, we make special efforts to customize our programs to meet an individual's specific needs.

We assess the causes of the weight problem, determine its medical and psychological consequences, and then plan a program accordingly.
    </div>
    <br>
    <h2>
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdCGBQWLgZ62eG-R9-0nWnHYL2CwV4qbVDYK351WLO9kH3fxg/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Fill out our form</iframe>
  <p></p>
    <a href="https://www.pennmedicine.org/for-patients-and-visitors/patient-information/conditions-treated-a-to-z/diabetes" target="_blank"><font color = "white" >Diabetes Information</font></a>
  <br/>
    <a href="http://www.med.upenn.edu/weight/" target="_blank"><font color = "white"> Center for Weight and Eating Disorders</font></a>
<br/>
    <a href="http://www.med.upenn.edu/weight/ongoing_research.html" target="_blank"><font color = "white" >Research Studies</font></a>


    </h2>
{% endblock %}
