{% extends "layout_alt2.html" %}
<!-- TITLE -->
{% block title %}Smoking Cessation{% endblock %}

<!-- HEAD
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %} -->

<!--
{% block media %}
<iframe width="560" height="315" src="https://www.youtube.com/embed/fLbQfMmrISE" frameborder="0" allowfullscreen></iframe>
{% endblock %}
-->

<!-- CONTENT -->
{% block content %}
  <h1>Smoking Cessation</h1>
  <p class="important">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/fLbQfMmrISE" frameborder="0" allowfullscreen></iframe>
    <div class="col-lg-12 text-center">
    We understand that tobacco dependence is treated as a medical condition that needs to be controlled, just like asthma or diabetes. Our comprehensive smoking treatment program provides a supportive, encouraging environment and a team of health care professionals who don't rely on fear or shame to motivate you to quit.

    </div>
    <br>

    <h2>
      <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdFtxFYb-ol_TJQEDcnJqgI1Lvbr2vZcONK2JDqO1XUcFDC5A/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Fill out our survey</iframe>
      <p></p>
      <a href="https://www.pennmedicine.org/for-patients-and-visitors/find-a-program-or-service/harron-lung-center/smoking-cessation-program target="_blank""><font color = "white">See what Penn has to offer</font></a>
    </h2>
{% endblock %}
